ul {
	margin: auto;
	text-align: center;
	list-style-position: inside; 
}
body {
	margin: 20px 20px 20px 20px;
	background-color: #5B7FBD;
}
h1, p, li {
	font-family: sans-serif;
}
.copyright {
	font-style: italic;
	font-size: 12px;
}