#wrap {
	/*position: fixed;*/
	border: 5px dashed;
	background-color: #F5F5DC;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 625px;
}

#wrap h1 {
	margin-top: 0;
	border: none;
	border-bottom: 5px dashed;
	font-family: Impact, sans-serif;
	text-align: center;
	font-style: italic;
	font-weight: 900;
}

li {
	text-align: center;
	list-style-type: none;
	font-style: italic;
	font-family: sans-serif;
}
li:first-letter {
	font-weight: bold;
}

p {
	margin: 20px;
	font-family: sans-serif;
}

body {
	background-color: #E2AC7F;
}

.copyright {
	font-size: 12px;
	text-align: center;
}