#header h1 {
	text-align: right;
	background-color: #B5B67D;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 20px;
}

#nav {
	background-color: #689D59;
	border: none;
	border-bottom: 2px dashed;
	border-color: #fff;
	padding-bottom: 25px;
	padding-top: 1px;
}

#nav ul li {
	float: left;
	margin-right: 20px;
	list-style-type: none;
}

#nav ul li a {
	text-decoration: none;
}

#sidebar {
	clear: both;
	float: right;
	background-color: #B5B67D;
	height: 425px;
	width: 140px;
}

#sidebar h2 {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}

#content {
	background-color: #738F69;
	height: 425px;
}

#content h1 {
	margin-top: 0;
	padding-top: 30px;
	padding-left: 20px;
}

#content p {
	padding-left: 20px;
	opacity: 0.45;
}

#content ul {
	text-align: center;
	list-style-position: inside;
	list-style-type: none;
}

.copyright {
	text-align: center;
}

body {
	background-color: #54704A;
}