#nav {
	float: left;
	background-color: #B0CFFF;
	height: 403px;
	width: 174px;
	text-align: left;
	list-style-position: inside;
}

 #nav h2 {
 	text-align: center;
 }

 #content {
 	text-align: center;
 	background-color: #5B7FBD;
 	width: 750px;
 }

 .copyright {
 	background-color: #364371;
 }

 body {
 	background-color: #364371;
 }

 #content ul {
 	list-style-type: none;
 }